/* Your Website Styles */
body {
	background: #D5DBBD;
	font-family: 'Gentium Book Basic', serif;
}

header {
	color: #193441;
	font-family: 'Orbitron', sans-serif;
	margin-top: 1.5em;	
}

h1 {
  font-family: 'Orbitron', sans-serif;
  color: #193441;
  border-bottom: 5px solid #193441;
  width: 15%;

}

a {
	color: #193441;
	text-decoration: none;
	font-family: 'Orbitron', sans-serif;
	padding: 0 0 0 .25em;
	margin-right: 2em;
}

footer {
	background: #193441;
	text-align: right;
	padding: .5em 0;
	text-transform: uppercase;
}

#logo {
	width: 100%;
	margin-top: .5em;

}

.experience {
	float: left;
	border-top: .25em solid #193441;
}

.objective {
	float: left;
}

.education {
	float: right;
}

#nav{
  width: 100%;
  background-color: #193441;
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

#nav ul{
  list-style-type: none;
  overflow: hidden;
}

#nav li{
  float:left;
}

#nav a:link, a:visited{
  display: block;
  text-decoration: none;
  padding: 10px 15px;
  color: #FCFFF5;
}

#nav a:hover{
  background-color: #3E606F;
}

#nav a:active{
  background-color: #3E606F;
}





/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}